type DeepArray<T> = T|(T|DeepArray<T>)[]

const flat = <T = any>(value: DeepArray<T>): T[] => {
    if (!Array.isArray(value)){
        return [value];
    }

    const done: DeepArray<T>[][] = [];
    const result: T[] = [];
    const _flat = (value: DeepArray<T>[]) => {
        if (done.includes(value)){
            return
        }

        done.push(value);

        for(const item of value){
            if (Array.isArray(item)){
                _flat(item);
                continue;
            }

            if (result.includes(item)){
                continue
            }

            result.push(item);
        }
    }

    _flat(value)

    return result;
};

{% for classname, value in data %}
    export class {{ classname|singular|pascal }}{
        {% for name, field in value.fields %}
            {% if field.list %}
                {% include "./template/list.twig" with {
                    is_static: field.is_static,
                    classname: classname,
                    name: name,
                    parent: field.parent,
                    default: field.default,
                    type: field.type|join("|")
                } only %}
            {% else %}
                {% include "./template/field.twig" with {
                    is_static: field.is_static,
                    classname: classname,
                    name: name,
                    parent: field.parent,
                    default: field.default,
                    function: field.function,
                    type: field.type|join("|")
                } only %}
            {% endif %}
        {% endfor %}


        {% for child, field in value.relation.child %}
            {% if field.list %}
                {% include "./template/relation/child-list.twig" with {
                    type: {
                        child: child,
                        parent: classname
                    },
                    is_static: {
                        child: field.is_static,
                        parent: data[child].relation.parent[classname].is_static
                    },
                    child: child|relation_trim(classname),
                    parent: classname|relation_trim(child),
                    many: data[child].relation.parent[classname].list
                } only %}
            {% else %}
                {% include "./template/relation/child-unique.twig" with {
                    type: {
                        child: child,
                        parent: classname
                    },
                    is_static: {
                        child: field.is_static,
                        parent: data[child].relation.parent[classname].is_static
                    },
                    child: child|relation_trim(classname),
                    parent: classname|relation_trim(child),
                    many: data[child].relation.parent[classname].list
                } only %}
            {% endif %}
        {% endfor %}
        {% for parent, field in value.relation.parent %}
            {% include "./template/relation/parent-unique.twig" with {
                type: {
                    child: classname,
                    parent: parent
                },
                is_static: {
                    child: data[parent].relation.child[classname].is_static,
                    parent: field.is_static
                },
                parent: parent|relation_trim(classname),
                child: classname|relation_trim(parent),
                many: data[parent].relation.child[classname].list
            } only %}
        {% endfor %}


    }
{% endfor %}