type DeepArray<T> = T|(T|DeepArray<T>)[]

class {{ classname|singular|pascal }}{
    /**
    * @description
    * @protected
    * @return
    * @see set{{ name|singular|pascal }}
    * @see has{{ name|singular|pascal }}
    * @see get{{ name|singular|pascal }}
    * @see remove{{ name|singular|pascal }}
    * @see get{{ name|pluralize|pascal }}
    * @see get{{ name|singular|pascal }}Values
    * @see get{{ name|singular|pascal }}Keys
    */
    protected {{ name|singular|snake }}: {[key: string]: {{ type }} } = {};

    /**
    * @description
    * @return The current {@link {{ classname|singular|pascal }} } instance
    * @param key
    * @param value
    * @see {{ name|singular|snake }}
    * @see has{{ name|singular|pascal }}
    * @see get{{ name|singular|pascal }}
    * @see remove{{ name|singular|pascal }}
    * @see get{{ name|pluralize|pascal }}
    * @see get{{ name|singular|pascal }}Values
    * @see get{{ name|singular|pascal }}Keys
    */
    set{{ name|singular|pascal }}(key: {[key: string]: {{ type }}}|string,value?: {{ type }}): {{ classname|singular|pascal }} {
        if (typeof key !== "string"){
            if (typeof value !== "undefined"){
                throw new Error("Unexpected the value argument if the given value is a map or an object");
            }

            for(const _key in key){
                this.set{{ name|singular|pascal }}(_key,key[_key]);
            }

            return this;
        }

        if (typeof value === "undefined"){
            throw new Error("Expected a value argument value if the given value is a string");
        }

        this.remove{{ name|singular|pascal }}(key);
        this.{{ name|singular|snake }}[key] = value;

        return this;
    }

    /**
    * @description
    * @return
    * @param key
    * @see {{ name|singular|snake }}
    * @see set{{ name|singular|pascal }}
    * @see get{{ name|singular|pascal }}
    * @see remove{{ name|singular|pascal }}
    * @see get{{ name|pluralize|pascal }}
    * @see get{{ name|singular|pascal }}Values
    * @see get{{ name|singular|pascal }}Keys
    */
    has{{ name|singular|pascal }}(... key: DeepArray<string>[]): boolean {
        return key.every((item) => {
            if (Array.isArray(item)){
                return this.has{{ name|singular|pascal }}(... item)
            }

             return item in this.{{ name|singular|snake }};
        });
    }

    /**
    * @description
    * @return
    * @param key
    * @see {{ name|singular|snake }}
    * @see set{{ name|singular|pascal }}
    * @see has{{ name|singular|pascal }}
    * @see remove{{ name|singular|pascal }}
    * @see get{{ name|pluralize|pascal }}
    * @see get{{ name|singular|pascal }}Values
    * @see get{{ name|singular|pascal }}Keys
    */
    get{{ name|singular|pascal }}(key: string): {{ type }} {
        if (!(key in this.{{ name|singular|snake }})){
            throw new Error(`Your given key "${key}" is not defined into the \`{{ name|singular|snake }}\`'s ${this.constructor.name} instance`)
        }

        return this.{{ name|singular|snake }}[key]!;
    }

    unsafe{{ name|singular|pascal }}(key: string): {{ type }}|undefined {
        return this.{{ name|singular|snake }}[key]!;
    }

    /**
    * @description
    * @return The current {@link {{ classname|singular|pascal }} } instance
    * @param key
    * @see {{ name|singular|snake }}
    * @see set{{ name|singular|pascal }}
    * @see has{{ name|singular|pascal }}
    * @see get{{ name|singular|pascal }}
    * @see get{{ name|pluralize|pascal }}
    * @see get{{ name|singular|pascal }}Values
    * @see get{{ name|singular|pascal }}Keys
    */
    remove{{ name|singular|pascal }}(... keys: DeepArray<string>[]): {{ classname|singular|pascal }} {
        for(const key of keys){
            if (Array.isArray(key)){
                this.remove{{ name|singular|pascal }}(... key);
                continue;
            }

            delete this.{{ name|singular|snake }}[key];
        }

        return this;
    }

    /**
    * @description
    * @return
    * @see set{{ name|singular|pascal }}
    * @see has{{ name|singular|pascal }}
    * @see get{{ name|singular|pascal }}
    * @see remove{{ name|singular|pascal }}
    * @see get{{ name|pluralize|pascal }}
    * @see get{{ name|singular|pascal }}Values
    * @see {{ name|singular|snake }}
    */
    get{{ name|singular|pascal }}Keys(): string[]{
        return Object.keys(this.{{ name|singular|snake }});
    }

    /**
    * @description
    * @return
    * @see set{{ name|singular|pascal }}
    * @see has{{ name|singular|pascal }}
    * @see get{{ name|singular|pascal }}
    * @see remove{{ name|singular|pascal }}
    * @see get{{ name|pluralize|pascal }}
    * @see get{{ name|singular|pascal }}Keys
    * @see {{ name|singular|snake }}
    */
    get{{ name|singular|pascal }}Values(): {{type}}[] {
        return Object.values(this.{{ name|singular|snake }});
    }

    /**
    * @description
    * @return
    * @see set{{ name|singular|pascal }}
    * @see has{{ name|singular|pascal }}
    * @see get{{ name|singular|pascal }}
    * @see remove{{ name|singular|pascal }}
    * @see {{ name|singular|snake }}
    * @see get{{ name|singular|pascal }}Values
    * @see get{{ name|singular|pascal }}Keys
    */
    get{{ name|pluralize|pascal }}(): [string,{{ type }}][] {
        return Object.entries(this.{{ name|singular|snake }});
    }
}