    /**
    * @todo check/write the documentation
    * @todo check/write the test unit
    *
    * @summary Save @{{ classname|singular|pascal}}.{{name|singular|snake}}.
    * @description Save @{{ classname|singular|pascal}}.{{name|singular|snake}}.
    * @category @{{ classname|singular|pascal}}.{{ name|singular|snake }}
    * @category property
    * @category field
    * @protected
    * @see {{ classname|singular|pascal}}.set{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.erase{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.is{{ name|singular|pascal }}Defined
    * @see {{ classname|singular|pascal}}.is{{ name|singular|pascal }}EqualTo
    */
    {% if is_static %}protected static {{ name|singular|snake }}: {{ type }}|undefined;{% else %}protected {{ name|singular|snake }}: {{ type }}|undefined = undefined;{% endif %}

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Assign the value the @{{ classname|singular|pascal}}.{{name|singular|snake}}**.
    * @description Allows you to update or **assign the value of @{{ classname|singular|pascal}}.{{name|singular|snake}}**. *This method allows one parameter which is the value that will be assigned.*
    * @return Return the actual [{{ classname|singular|pascal }}]({{ classname|singular|pascal }}) {{ is_static ? "class " : "class instance" }}.
    * @param {{ name|singular|snake }} The new value to assign to @{{ classname|singular|pascal}}.{{name|singular|snake}}.
    * @category @{{ classname|singular|pascal}}.{{ name|singular|snake }}
    * @category setter
    * @category field
    * @public
    * @see {{ classname|singular|pascal}}.{{ name|singular|snake }}
    * @see {{ classname|singular|pascal}}.get{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.erase{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.is{{ name|singular|pascal }}Defined
    * @see {{ classname|singular|pascal}}.is{{ name|singular|pascal }}EqualTo
    */
    {{ is_static ? "static " : "" }}set{{ name|singular|pascal }}({{ name|singular|snake }}: {{ type }}): {{ is_static ? "typeof "~(classname|singular|pascal) : "this" }} {
        if (this.is{{ name|singular|pascal }}EqualTo({{ name|singular|snake }})){
            return this;
        }

        this.erase{{ name|singular|pascal }}();
        this.{{ name|singular|snake }} = {{ name|singular|snake }};

        return this;
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Gives the value of @{{ classname|singular|pascal}}.{{name|singular|snake}}**. Unlike the [get{{ name|singular|pascal }}]({{ classname|singular|pascal }}.get{{ name|singular|pascal }}) method, **the method results an undefined value if @{{ classname|singular|pascal}}.{{name|singular|snake}} is not defined**.
    * @description **Gives the value of @{{ classname|singular|pascal}}.{{name|singular|snake}}**. Unlike the [get{{ name|singular|pascal }}]({{ classname|singular|pascal }}.get{{ name|singular|pascal }}) method, **the method results an undefined value if @{{ classname|singular|pascal}}.{{name|singular|snake}} is not defined**: *you should take a look about [??](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Operators/Nullish_coalescing_operator) operator or to the [optional chaining](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Operators/Optional_chaining)*.
    * @return **Return the value of @{{ classname|singular|pascal}}.{{name|singular|snake}}**. Unlike the [get{{ name|singular|pascal }}]({{ classname|singular|pascal }}.get{{ name|singular|pascal }}) method, **the method results an undefined value if @{{ classname|singular|pascal}}.{{name|singular|snake}} is not defined**: *you should take a look about [??](https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Operators/Nullish_coalescing_operator) operator or to the [optional chaining](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Operators/Optional_chaining)*.
    * @category @{{ classname|singular|pascal}}.{{ name|singular|snake }}
    * @category unsafe
    * @category value
    * @category field
    * @public
    * @see {{ classname|singular|pascal}}.{{ name|singular|snake }}
    * @see {{ classname|singular|pascal}}.set{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.erase{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.is{{ name|singular|pascal }}Defined
    * @see {{ classname|singular|pascal}}.is{{ name|singular|pascal }}EqualTo
    */
    {{ is_static ? "static " : "" }}unsafe{{ name|singular|pascal }}(): {{ type }}|undefined {
        return this.{{ name|singular|snake }};
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Gives the value of @{{ classname|singular|pascal}}.{{name|singular|snake}}**. Unlike the [unsafe{{ name|singular|pascal }}]({{ classname|singular|pascal}}.unsafe{{ name|singular|pascal }}) method, **we will throw an [UndefinedValue](UndefinedValue) error if @{{ classname|singular|pascal}}.{{name|singular|snake}} is not defined**.
    * @description **Gives the value of @{{ classname|singular|pascal}}.{{name|singular|snake}}**. Unlike the [unsafe{{ name|singular|pascal }}]({{ classname|singular|pascal}}.unsafe{{ name|singular|pascal }}) method, **we will throw an [UndefinedValue](UndefinedValue) error if @{{ classname|singular|pascal}}.{{name|singular|snake}} is not defined**.
    * @return **Returns the value of @{{ classname|singular|pascal}}.{{name|singular|snake}}**. Unlike the [unsafe{{ name|singular|pascal }}]({{ classname|singular|pascal}}.unsafe{{ name|singular|pascal }}) method, **we will throw an [UndefinedValue](UndefinedValue) error if @{{ classname|singular|pascal}}.{{name|singular|snake}} is not defined**.
    * @category @{{ classname|singular|pascal}}.{{ name|singular|snake }}
    * @category getter
    * @category value
    * @category field
    * @public
    * @throw UndefinedValue Throws an [UndefinedValue](UndefinedValue) error if @{{ classname|singular|pascal}}.{{name|singular|snake}} isn't defined.
    * @see {{ classname|singular|pascal}}.{{ name|singular|snake }}
    * @see {{ classname|singular|pascal}}.set{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.erase{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.is{{ name|singular|pascal }}Defined
    * @see {{ classname|singular|pascal}}.is{{ name|singular|pascal }}EqualTo
    */
    {{ is_static ? "static " : "" }}get{{ name|singular|pascal }}(): {{ type }} {
        const {{ name|singular|snake }} = this.unsafe{{ name|singular|pascal }}();

        if (typeof {{ name|singular|snake }} === "undefined"){
            const error = new UndefinedValue();
            error.setMethod("get{{ name|singular|pascal }}");
            error.setClassname("{{ classname|singular|pascal }}");
            error.setProperty("{{ name|singular|snake }}");
            throw error;
        }
        return {{ name|singular|snake }};
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Checks if @{{ classname|singular|pascal}}.{{name|singular|snake}} is defined**.
    * @description **Checks if @{{ classname|singular|pascal}}.{{name|singular|snake}} is defined** or not.
    * @return **Returns a boolean if @{{ classname|singular|pascal}}.{{name|singular|snake}} is defined** or not.
    * @category @{{ classname|singular|pascal}}.{{ name|singular|snake }}
    * @category defined
    * @category field
    * @public
    * @see {{ classname|singular|pascal}}.{{ name|singular|snake }}
    * @see {{ classname|singular|pascal}}.set{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.erase{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.is{{ name|singular|pascal }}EqualTo
    */
    {{ is_static ? "static " : "" }}is{{ name|singular|pascal }}Defined(): boolean {
        return typeof this.{{ name|singular|snake }} !== "undefined";
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Checks if @{{ classname|singular|pascal}}.{{name|singular|snake}} is equal to your given value**.
    * @description **Checks if @{{ classname|singular|pascal}}.{{name|singular|snake}} is equal to your given value** and if @{{ classname|singular|pascal}}.{{name|singular|snake}} is defined. *Note that if the given value is `undefined`, the method always results `false`*.
    * @return **Returns a boolean if @{{ classname|singular|pascal}}.{{name|singular|snake}} is equal to your given value** and if @{{ classname|singular|pascal}}.{{name|singular|snake}} is defined. *Note that if the given value is `undefined`, the method always results `false`*.
    * @param {{name|singular|snake}} **The given value to check**, if this value is `undefined`, the method returns `false`.
    * @category @{{ classname|singular|pascal}}.{{ name|singular|snake }}
    * @category equality
    * @category field
    * @public
    * @see {{ classname|singular|pascal}}.{{ name|singular|snake }}
    * @see {{ classname|singular|pascal}}.set{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.erase{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.is{{ name|singular|pascal }}Defined
    */
    {{ is_static ? "static " : "" }}is{{ name|singular|pascal }}EqualTo({{name|singular|snake}}?: undefined|{{ type }}): boolean {
        if (typeof {{name|singular|snake}} === "undefined"){
            return false;
        }
        return this.unsafe{{name|singular|pascal}}() === {{name|singular|snake}};
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Removes the assigned the value of @{{ classname|singular|pascal}}.{{name|singular|snake}}**.
    * @description **Removes the assigned the value of @{{ classname|singular|pascal}}.{{name|singular|snake}}**: *@{{ classname|singular|pascal}}.{{name|singular|snake}} will be flagged as undefined*.
    * @return Return the actual [{{ classname|singular|pascal }}]({{ classname|singular|pascal }}) {{ is_static ? "class " : "class instance" }}.
    * @category @{{ classname|singular|pascal}}.{{ name|singular|snake }}
    * @category truncate
    * @category field
    * @public
    * @see {{ classname|singular|pascal}}.{{ name|singular|snake }}
    * @see {{ classname|singular|pascal}}.set{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.is{{ name|singular|pascal }}Defined
    * @see {{ classname|singular|pascal}}.is{{ name|singular|pascal }}EqualTo
    */
    {{ is_static ? "static " : "" }}erase{{ name|singular|pascal }}(): {{ is_static ? "typeof "~(classname|singular|pascal) : "this" }} {
        this.{{ name|singular|snake }} = undefined;

        return this;
    }