    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary Save @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}.
    * @description Save @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}.
    * @category {{ name|pluralize|snake }}
    * @category property
    * @category list
    * @protected
    * @see {{ classname|singular|pascal}}.get{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|pluralize|pascal }}Size
    * @see {{ classname|singular|pascal}}.contain{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.add{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.remove{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.truncate{{ name|pluralize|pascal }}
    */
    {% if is_static %}protected static {{ name|pluralize|snake }}: {{ type }}[]|undefined;{% else %}protected {{ name|pluralize|snake }}: {{ type }}[] = [];{% endif %}

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Gives the size of @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}**.
    * @description **Gives the size of @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}**.
    * @return **Returns the size of @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}**.
    * @category @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}
    * @category list
    * @category length
    * @public
    * @see {{ classname|singular|pascal}}.get{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.contain{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.add{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.remove{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.truncate{{ name|pluralize|pascal }}
    * @see {{ name|pluralize|snake }}
    */
    {{ is_static ? "static " : "" }}get{{ name|pluralize|pascal }}Size(): number {
        return {% if is_static %}this.unsafe{{ name|pluralize|pascal }}().length ?? 0{% else %}this.unsafe{{ name|pluralize|pascal }}().length{% endif %};
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Gives a positioned item of @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}**. Unlike [get{{ name|singular|pascal }}]({{ classname|singular|pascal}}.get{{ name|singular|pascal }}) method, **the method results `undefined` if no value can be found at the given position**.
    * @description **Gives a positioned item of @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}**. Unlike [get{{ name|singular|pascal }}]({{ classname|singular|pascal}}.get{{ name|singular|pascal }}) method, **the method results `undefined` if no value can be found at the given position**. *You should take a look about [??](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Operators/Nullish_coalescing_operator) operator or to the [optional chaining](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Operators/Optional_chaining)*. The method allows one numeric argument who is the expected item position. If the given position is negative, the given position will start from the end.
    * @return **Returns a positioned item of @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}**. Unlike [get{{ name|singular|pascal }}]({{ classname|singular|pascal}}.get{{ name|singular|pascal }}) method, **the method results `undefined` if no value can be found at the given position**. *You should take a look about [??](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Operators/Nullish_coalescing_operator) operator or to the [optional chaining](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Operators/Optional_chaining)*. The method allows one numeric argument who is the expected item position. If the given position is negative, the given position will start from the end.
    * @param position The given position. If the given position is negative, the position starts from the end. *If you want the last item of @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}, you can give `-1` for example. If you want to get the first item of @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}, you can give `0`.*
    * @category @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}
    * @category unsafe
    * @category list
    * @category value
    * @public
    * @see {{ classname|singular|pascal}}.get{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|pluralize|pascal }}Size
    * @see {{ classname|singular|pascal}}.contain{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.add{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.remove{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.truncate{{ name|pluralize|pascal }}
    * @see {{ name|pluralize|snake }}
    */
    {{ is_static ? "static " : "" }}unsafe{{ name|singular|pascal }}(position: number): {{ type }}|undefined {
        if (position < 0){
            const new_position = this.get{{ name|pluralize|pascal }}Size() + position;

            if (new_position < 0){
                return undefined;
            }

            return this.unsafe{{ name|singular|pascal }}(new_position);
        }

        return {% if is_static %}this.{{ name|pluralize|snake }} ? this.{{ name|pluralize|snake }}[position] : undefined{% else %}this.{{ name|pluralize|snake }}[position]{% endif %};
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Gives a positioned item in @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}**. Unlike the [unsafe{{ name|singular|pascal }}]({{ classname|singular|pascal}}.unsafe{{ name|singular|pascal }}) method, **if the value cannot be found at the given position, the method throws an [OutOfRange](OutOfRange) error**. If the given position is negative, the given position will start from the end.
    * @description **Gives a positioned item in @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}**. Unlike the [unsafe{{ name|singular|pascal }}]({{ classname|singular|pascal}}.unsafe{{ name|singular|pascal }}) method, **if the value cannot be found at the given position, the method throws an [OutOfRange](OutOfRange) error**. The method allows one numeric argument who is the expected item position. If the given position is negative, the given position will start from the end.
    * @return **Returns a positioned item in @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}**. Unlike the [unsafe{{ name|singular|pascal }}]({{ classname|singular|pascal}}.unsafe{{ name|singular|pascal }}) method, **if the value cannot be found at the given position, the method throws an [OutOfRange](OutOfRange) error**. The method allows one numeric argument who is the expected item position. If the given position is negative, the given position will start from the end.
    * @param position The given position. If the given position is negative, the position starts from the end. *If you want the last item of @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}, you can give `-1` for example. If you want to get the first item of @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}, you can give `0`.*
    * @throw OutOfRange Throws an [OutOfRange](OutOfRange) error if the given position is out of range.
    * @category @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}
    * @category getter
    * @category list
    * @category value
    * @public
    * @see OutOfRange
    * @see {{ classname|singular|pascal}}.get{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|pluralize|pascal }}Size
    * @see {{ classname|singular|pascal}}.contain{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.add{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.remove{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.truncate{{ name|pluralize|pascal }}
    * @see {{ name|pluralize|snake }}
    */
    {{ is_static ? "static " : "" }}get{{ name|singular|pascal }}(position: number): {{ type }} {
        const {{ name|singular|snake }} = this.unsafe{{ name|singular|pascal }}(position);
        if (typeof {{ name|singular|snake }} === "undefined"){
            const error = new OutOfRange();
            error.setMethod("get{{ name|singular|pascal }}");
            error.setClassname("{{ classname|singular|pascal }}");
            error.setProperty("{{ name|pluralize|snake }}");
            error.setPosition(position);
            throw error;
        }

        return {{ name|singular|snake }};
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Add one or multiple values** to @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}.
    * @description Allows you to **add one or multiple values** to @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}. Each argument of in the method will be added to @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}, and the method accepts an array of values *(the value can be a deep array, you should take a look to [flat](flat) function)*. _Note that the value cannot be added twice in @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}: the value is unique._
    * @param {{ name|pluralize|snake }} All the given values that you to add to @{{ classname|singular|pascal }}.{{ name|pluralize|snake }} *(the value can be a deep array, you should take a look to [flat](flat) function)*. *If the value is already included, the method will discard the item addition.*
    * @return Returns the actual [{{ classname|singular|pascal }}]({{ classname|singular|pascal }}) {{ is_static ? "class " : "class instance" }}.
    * @category @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}
    * @category associate
    * @category list
    * @public
    * @see {{ classname|singular|pascal}}.get{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|pluralize|pascal }}Size
    * @see {{ classname|singular|pascal}}.contain{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.remove{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.truncate{{ name|pluralize|pascal }}
    * @see {{ name|pluralize|snake }}
    */
    {{ is_static ? "static " : "" }}add{{ name|pluralize|pascal }}(... {{ name|pluralize|snake }}: DeepArray<{{ type }}>[]): {{ is_static ? "typeof "~(classname|singular|pascal) : "this" }} {
        for(const {{ name|singular|snake }} of flat({{ name|pluralize|snake }})){
            if (this.contain{{ name|pluralize|pascal }}({{ name|singular|snake }})){
                continue;
            }

            {% if is_static %}
                if (this.{{ name|pluralize|snake }}){
                    this.{{ name|pluralize|snake }}.push({{ name|singular|snake }});
                }else{
                    this.{{ name|pluralize|snake }} = [{{ name|singular|snake }}];
                }
            {% else %}
                this.{{ name|pluralize|snake }}.push({{ name|singular|snake }});
            {% endif %}
        }

        return this;
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Checks if the given value is included** in @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}.
    * @description **Checks if all the given value is included** in @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}. Each argument of in the method going to be checked, and the method accepts an array of values *(the value can be a deep array, you should take a look to [flat](flat) function)*. If one of thus elements is not included in @{{ classname|singular|pascal }}.{{ name|pluralize|snake }} or are `undefined`, the method results `false`: the method result `true` only if all the values are included in @{{ classname|singular|pascal }}.{{ name|pluralize|snake }} and not undefined. _Note that, if no arguments is given in this method, the method results `true` (in fact, all the argument exists in the list.)_
    * @return **Returns a boolean if all the given value is included** in @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}. Each argument of in the method going to be checked, and the method accepts an array of values *(the value can be a deep array, you should take a look to [flat](flat) function)*. If one of thus elements is not included in @{{ classname|singular|pascal }}.{{ name|pluralize|snake }} or are `undefined`, the method results `false`: the method result `true` only if all the values are included in @{{ classname|singular|pascal }}.{{ name|pluralize|snake }} and not undefined. _Note that, if no arguments is given in this method, the method results `true` (in fact, all the argument exists in the list.)_
    * @param {{ name|pluralize|snake }} All the values that you want to check *(the value can be a deep array, you should take a look to [flat](flat) function)*.
    * @category @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}
    * @category defined
    * @category list
    * @public
    * @see {{ classname|singular|pascal}}.get{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|pluralize|pascal }}Size
    * @see {{ classname|singular|pascal}}.add{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.remove{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.truncate{{ name|pluralize|pascal }}
    * @see {{ name|pluralize|snake }}
    */
    {{ is_static ? "static " : "" }}contain{{ name|pluralize|pascal }}(...{{ name|pluralize|snake }}: DeepArray<{{ type }}|undefined>[]): boolean {
        return flat({{ name|pluralize|snake }}).every(({{ name|singular|snake }}) => {
            if (typeof {{ name|singular|snake }} === "undefined"){
                return false;
            }

            return this.unsafe{{ name|pluralize|pascal }}().includes({{ name|singular|snake }});
        });
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Gives a copy of @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}**.
    * @description **Gives a copy of @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}**.
    * @return **Returns a copy of @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}**.
    * @category @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}
    * @category getter
    * @category iterable
    * @category list
    * @public
    * @see {{ classname|singular|pascal}}.unsafe{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|pluralize|pascal }}Size
    * @see {{ classname|singular|pascal}}.contain{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.add{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.remove{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.truncate{{ name|pluralize|pascal }}
    * @see {{ name|pluralize|snake }}
    */
    {{ is_static ? "static " : "" }}get{{ name|pluralize|pascal }}(): {{ type }}[] {
        return Array.from(this.unsafe{{ name|pluralize|pascal }}());
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Gives @{{ classname|singular|pascal }}.{{ name|pluralize|snake }} without copy** the array.
    * @description **Gives @{{ classname|singular|pascal }}.{{ name|pluralize|snake }} without copy** the array. The array is not copied, so if you modify this array, you will modify the master array (who this can give unexpected features). **You should use it read-only features**, otherwise use the [get{{ name|pluralize|pascal }}]({{ classname|singular|pascal }}.get{{ name|pluralize|pascal }}) method.
    * @return **Returns @{{ classname|singular|pascal }}.{{ name|pluralize|snake }} without copy** the array. The array is not copied, so if you modify this array, you will modify the master array (who this can give unexpected features). **You should use it read-only features**, otherwise use the [get{{ name|pluralize|pascal }}]({{ classname|singular|pascal }}.get{{ name|pluralize|pascal }}) method.
    * @category @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}
    * @category unsafe
    * @category iterable
    * @category list
    * @public
    * @see {{ classname|singular|pascal}}.get{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|pluralize|pascal }}Size
    * @see {{ classname|singular|pascal}}.contain{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.add{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.remove{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.truncate{{ name|pluralize|pascal }}
    * @see {{ name|pluralize|snake }}
    */
    {{ is_static ? "static " : "" }}unsafe{{ name|pluralize|pascal }}(): {{ type }}[] {
        return this.{{ name|pluralize|snake }}{% if is_static %} ?? []{% endif %};
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary Allows to **remove one or multiple values** from @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}.
    * @description Allows you to **remove one or multiple values** from @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}. Each argument of in the method will be removed from @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}, and the method accepts an array of values *(the value can be a deep array, you should take a look to [flat](flat) function)*.
    * @param {{ name|pluralize|snake }} All the given values that you to remove from @{{ classname|singular|pascal }}.{{ name|pluralize|snake }} *(the value can be a deep array, you should take a look to [flat](flat) function)*.
    * @return Returns the actual [{{ classname|singular|pascal }}]({{ classname|singular|pascal }}) {{ is_static ? "class " : "class instance" }}.
    * @category @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}
    * @category dissociate
    * @category list
    * @public
    * @see {{ classname|singular|pascal}}.get{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|pluralize|pascal }}Size
    * @see {{ classname|singular|pascal}}.contain{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.add{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.truncate{{ name|pluralize|pascal }}
    * @see {{ name|pluralize|snake }}
    */
    {{ is_static ? "static " : "" }}remove{{ name|pluralize|pascal }}(... {{ name|pluralize|snake }}: DeepArray<{{ type }}>[]): {{ is_static ? "typeof "~(classname|singular|pascal) : "this" }} {
        for(const {{ name|singular|snake }} of flat({{ name|pluralize|snake }})){
            if (!this.contain{{ name|pluralize|pascal }}({{ name|singular|snake }})){
                continue;
            }

            while(true){
                const index = this.{{ name|pluralize|snake }}{% if is_static %}!{% endif %}.indexOf({{ name|singular|snake }});
                if (index < 0){
                    break;
                }

                this.{{ name|pluralize|snake }}{% if is_static %}!{% endif %}.splice(index,1);
            }
        }

        return this;
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Truncate @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}**.
    * @description **Remove all the values in @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}**.
    * @return Returns the actual [{{ classname|singular|pascal }}]({{ classname|singular|pascal }}) {{ is_static ? "class " : "class instance" }}.
    * @category @{{ classname|singular|pascal }}.{{ name|pluralize|snake }}
    * @category truncate
    * @category list
    * @public
    * @see {{ classname|singular|pascal}}.get{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.unsafe{{ name|singular|pascal }}
    * @see {{ classname|singular|pascal}}.get{{ name|pluralize|pascal }}Size
    * @see {{ classname|singular|pascal}}.contain{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.add{{ name|pluralize|pascal }}
    * @see {{ classname|singular|pascal}}.remove{{ name|pluralize|pascal }}
    * @see {{ name|pluralize|snake }}
    */
    {{ is_static ? "static " : "" }}truncate{{ name|pluralize|pascal }}(): {{ is_static ? "typeof "~(classname|singular|pascal) : "this" }} {
        this.remove{{ name|pluralize|pascal }}(this.unsafe{{ name|pluralize|pascal }}());
        return this;
    }