    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Saves the relation between [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) and the actual [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }})**.
    * @description **Saves the relation between [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }} and the actual [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class" : "class instance" }}**.
    * @category @{{ type.parent|singular|pascal }}.{{ child|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category property
    * @category relation
    * @protected
    * @see {{ type.parent|singular|pascal }}.link{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.has{{ child|singular|pascal }}Linked
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.unlink{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.isLinkedWith{{ child|singular|pascal }}
    */
    {% if is_static.parent %}protected static {{ child|singular|snake }}: {{ is_static.child ? "typeof " : "" }}{{ type.child|singular|pascal }}|undefined;{% else %}protected {{ child|singular|snake }}: {{ is_static.child ? "typeof " : "" }}{{ type.child|singular|pascal }}|undefined = undefined;{% endif %}

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Associates a [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}**.
    * @description Allows you to **associate a [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}** with your actual [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}. *This method allows one parameter which is a [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }} that will be associated*. *Note that the method will also run [{{ type.child|singular|pascal }}.link{{ parent|pluralize(many)|pascal }}]({{ type.child|singular|pascal }}.link{{ parent|pluralize(many)|pascal }}) to associate the [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }} et the [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }} from the both parts*. *Note also that the method will also run [unlink{{ child|singular|pascal }}]({{ type.parent|singular|pascal }}.unlink{{ child|singular|pascal }}) to dissociate the current [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }} associated*.
    * @return Returns the actual [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}.
    * @category @{{ type.parent|singular|pascal }}.{{ child|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category association
    * @category relation
    * @public
    * @see {{ type.parent|singular|pascal }}.{{ child|singular|snake }}
    * @see {{ type.parent|singular|pascal }}.has{{ child|singular|pascal }}Linked
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.unlink{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.isLinkedWith{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.link{{ parent|pluralize(many)|pascal }}
    */
    {{ is_static.parent ? "static " : "" }}link{{ child|singular|pascal }}({{ child|singular|snake }}: {{ is_static.child ? "typeof " : "" }}{{ type.child|singular|pascal }}): {{ is_static.parent ? "typeof "~(type.parent|singular|pascal) : "this" }} {
        if (this.isLinkedWith{{ child|singular|pascal }}({{ child|singular|snake }})){
            return this;
        }

        this.unlink{{ child|singular|pascal }}();
        this.{{ child|singular|snake }} = {{ child|singular|snake }};
        {{ child|singular|snake }}.link{{ parent|pluralize(many)|pascal }}(this);

        return this;
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Checks if a [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }} is associated**.
    * @return **Gives a boolean if a [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }} is associated** or not to our actual [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}.
    * @description **Check if a [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }} is associated** or not to our actual [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}.
    * @category @{{ type.parent|singular|pascal }}.{{ child|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category relation
    * @category defined
    * @public
    * @see {{ type.parent|singular|pascal }}.{{ child|singular|snake }}
    * @see {{ type.parent|singular|pascal }}.link{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.unlink{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.isLinkedWith{{ child|singular|pascal }}
    */
    {{ is_static.parent ? "static " : "" }}has{{ child|singular|pascal }}Linked(): boolean {
        return typeof this.{{ child|singular|snake }} !== "undefined";
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Gives the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}**. Unlike the [get{{ child|singular|pascal }}]({{ type.parent|singular|pascal }}.get{{ child|singular|pascal }}) method, **the method can result an undefined value.
    * @description **Gives the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}** of our actual [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}. Unlike the [get{{ child|singular|pascal }}]({{ type.parent|singular|pascal }}.get{{ child|singular|pascal }}) method, **the method results an undefined value if the [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }} doesn't have [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }} associate**: *you should take a look about [??](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Operators/Nullish_coalescing_operator) operator or to the [optional chaining](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Operators/Optional_chaining)*.
    * @return **Results the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}** of our actual [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}. Unlike the [get{{ child|singular|pascal }}]({{ type.parent|singular|pascal }}.get{{ child|singular|pascal }}) method, **the method results an undefined value if the [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }} doesn't have [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }} associate**: *you should take a look about [??](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Operators/Nullish_coalescing_operator) operator or to the [optional chaining](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Operators/Optional_chaining)*.
    * @category @{{ type.parent|singular|pascal }}.{{ child|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category relation
    * @category value
    * @category unsafe
    * @public
    * @see {{ type.parent|singular|pascal }}.{{ child|singular|snake }}
    * @see {{ type.parent|singular|pascal }}.link{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.has{{ child|singular|pascal }}Linked
    * @see {{ type.parent|singular|pascal }}.get{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.unlink{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.isLinkedWith{{ child|singular|pascal }}
    */
    {{ is_static.parent ? "static " : "" }}unsafe{{ child|singular|pascal }}(): {{ is_static.parent ? "typeof " : "" }}{{ type.child|singular|pascal }}|undefined {
        return this.{{ child|singular|snake }};
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Gives the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}**. Unlike the [unsafe{{ child|singular|pascal }}]({{ type.parent|singular|pascal }}.unsafe{{ child|singular|pascal }}) method, **the method can throw an [UnlinkedValue](UnlinkedValue) error**.
    * @description **Gives the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}** of our actual [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}. Unlike the [unsafe{{ child|singular|pascal }}]({{ type.parent }}.unsafe{{ child|singular|pascal }}) method, **we will throw an [UnlinkedValue](UnlinkedValue) error if the [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }} doesn't have [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }} associate**.
    * @return **Results the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}** of our actual [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}. Unlike the [unsafe{{ child|singular|pascal }}]({{ type.parent }}.unsafe{{ child|singular|pascal }}) method, **we will throw an [UnlinkedValue](UnlinkedValue) error if the [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }} doesn't have [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }} associate**.
    * @category @{{ type.parent|singular|pascal }}.{{ child|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category relation
    * @category value
    * @category getter
    * @public
    * @see {{ type.parent|singular|pascal }}.{{ child|singular|snake }}
    * @see {{ type.parent|singular|pascal }}.link{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.has{{ child|singular|pascal }}Linked
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.unlink{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.isLinkedWith{{ child|singular|pascal }}
    */
    {{ is_static.parent ? "static " : "" }}get{{ child|singular|pascal }}(): {{ is_static.parent ? "typeof " : "" }}{{ type.child|singular|pascal }}{
        const {{ child|singular|snake }} = this.unsafe{{ child|singular|pascal }}();

        if (typeof {{ child|singular|snake }} === "undefined"){
            const error = new UnlinkedValue();
            error.setMethod("get{{ child|singular|pascal }}");
            error.setClassname("{{ type.parent|singular|pascal }}");
            error.setWantedClassname("{{ type.child|singular|pascal }}");
            error.setProperty("{{ child|singular|snake }}");
            throw error;
        }
        return {{ child|singular|snake }};
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Dissociate the [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}**.
    * @description **Dissociate the [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}** from your actual [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}.  *Note that the method will also run [{{ type.child|singular|pascal }}.unlink{{ parent|pluralize(many)|pascal }}]({{ type.child|singular|pascal }}.unlink{{ parent|pluralize(many)|pascal }}) to dissociate the [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }} et the [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }} from the both parts*.
    * @return Return the actual [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}.
    * @category @{{ type.parent|singular|pascal }}.{{ child|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category relation
    * @category value
    * @category dissociate
    * @public
    * @see {{ type.parent|singular|pascal }}.{{ child|singular|snake }}
    * @see {{ type.parent|singular|pascal }}.link{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.has{{ child|singular|pascal }}Linked
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.isLinkedWith{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.unlink{{ parent|pluralize(many)|pascal }}
    */
    {{ is_static.parent ? "static " : "" }}unlink{{ child|singular|pascal }}(): {{ is_static.parent ? "typeof "~(type.parent|singular|pascal) : "this" }} {
        const _{{ child|singular|snake }} = this.{{ child|singular|snake }}!;
        this.{{ child|singular|snake }} = undefined;

        _{{ child|singular|snake }}.unlink{{ parent|pluralize(many)|pascal }}(this);

        return this;
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Checks if all the given [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}** are associated.
    * @description **Checks if the [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }} is associated with all the given [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}**. *Note that if the given value is `undefined`, the method always results `false`*.
    * @return **Return a boolean if the [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }} is associated with all the given [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}**. *Note that if the given value is `undefined`, the method always results `false`*.
    * @category @{{ type.parent|singular|pascal }}.{{ child|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category relation
    * @category value
    * @category equality
    * @public
    * @see {{ type.parent|singular|pascal }}.{{ child|singular|snake }}
    * @see {{ type.parent|singular|pascal }}.link{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.has{{ child|singular|pascal }}Linked
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.unlink{{ child|singular|pascal }}
    */
    {{ is_static.parent ? "static " : "" }}isLinkedWith{{ child|singular|pascal }}({{child|singular|snake}}?: undefined|{{ is_static.parent ? "typeof " : "" }}{{ type.child|singular|pascal }}): boolean {
        if (typeof {{child|singular|snake}} === "undefined"){
            return false;
        }
        return this.unsafe{{child|singular|pascal}}() === {{child|singular|snake}};
    }