    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Saves the relation between [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) and the actual [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }})**.
    * @description **An array of saved relations between [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.parent ? "class" : "class instances" }} and the actual [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class" : "class instance" }}**.
    * @category @{{ type.child|singular|pascal }}.{{ parent|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category relation
    * @category property
    * @protected
    * @see {{ type.parent|singular|pascal }}.are{{ child|pluralize|pascal }}Linked
    * @see {{ type.parent|singular|pascal }}.dispose{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.unlink{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.link{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|pluralize|pascal }}Size
    */
    {% if is_static.parent %}protected static {{ child|pluralize|snake }}: {{ is_static.child ? "typeof " : "" }}{{ type.child|singular|pascal }}[]|undefined;{% else %}protected {{ child|pluralize|snake }}: {{ is_static.child ? "typeof " : "" }}{{ type.child|singular|pascal }}[] = [];{% endif %}


    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Gives the number of the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }}**.
    * @description **Gives the size of the [array]({{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}) of the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }}**.
    * @return **Returns the number of the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }}**.
    * @category @{{ type.child|singular|pascal }}.{{ parent|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category relation
    * @category length
    * @public
    * @see {{ type.parent|singular|pascal }}.are{{ child|pluralize|pascal }}Linked
    * @see {{ type.parent|singular|pascal }}.dispose{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.unlink{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.link{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}
    */
    {{ is_static.parent ? "static " : "" }}get{{ child|pluralize|pascal }}Size(): number {
        return {% if is_static.parent %}this.unsafe{{ child|pluralize|pascal }}().length ?? 0{% else %}this.unsafe{{ child|pluralize|pascal }}().length{% endif %};
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Gives a positioned item of the [array]({{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}) of the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }})** {{ is_static.child ? "class" : "class instances" }}. Unlike [get{{ child|singular|pascal }}]({{ type.parent|singular|pascal }}.get{{ child|singular|pascal }}) method, **the method results `undefined` if no value can be found at the given position**.
    * @description **Gives a positioned item of the [array]({{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}) of the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }}**. Unlike [get{{ child|singular|pascal }}]({{ type.parent|singular|pascal }}.get{{ child|singular|pascal }}) method, **the method results `undefined` if no value can be found at the given position**. *You should take a look about [??](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Operators/Nullish_coalescing_operator) operator or to the [optional chaining](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Operators/Optional_chaining)*. The method allows one numeric argument who is the expected item position. If the given position is negative, the given position will start from the end.
    * @return **Returns a positioned item of the [array]({{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}) of the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }}**. Unlike [get{{ child|singular|pascal }}]({{ type.parent|singular|pascal }}.get{{ child|singular|pascal }}) method, **the method results `undefined` if no value can be found at the given position**. *You should take a look about [??](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Operators/Nullish_coalescing_operator) operator or to the [optional chaining](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Operators/Optional_chaining)*. The method allows one numeric argument who is the expected item position. If the given position is negative, the given position will start from the end.
    * @param position The given position. If the given position is negative, the position starts from the end. *If you want the last item of the [array]({{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}) of the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}), you can give `-1` for example. If you want to get the first item of the [array]({{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}) of the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}), you can give `0`.*
    * @category @{{ type.child|singular|pascal }}.{{ parent|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category relation
    * @category unsafe
    * @category value
    * @public
    * @see {{ type.parent|singular|pascal }}.are{{ child|pluralize|pascal }}Linked
    * @see {{ type.parent|singular|pascal }}.dispose{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.unlink{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.link{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|pluralize|pascal }}Size
    * @see {{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}
    */
   {{ is_static.parent ? "static " : "" }}unsafe{{ child|singular|pascal }}(position: number): {{ is_static.child ? "typeof " : "" }}{{ type.child|singular|pascal }}|undefined {
        if (position < 0){
           const new_position = this.get{{ child|pluralize|pascal }}Size() + position;

           if (new_position < 0){
                return undefined;
           }

            return this.unsafe{{ child|singular|pascal }}(new_position);
        }

        return {% if is_static.parent %}this.{{ child|pluralize|snake }} ? this.{{ child|pluralize|snake }}[position] : undefined{% else %}this.{{ child|pluralize|snake }}[position]{% endif %};
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Gives a positioned item of the [array]({{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}) of the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }}**. Unlike the [unsafeTask](#one-to-many-{{ parent|singular|pascal }}--unsafe{{ child|singular|pascal }}) method, **if the value cannot be found at the given position, the method throws an error**. The method allows one numeric argument who is the expected item position. If the given position is negative, the given position will start from the end.
    * @description **Gives a positioned item of the [array]({{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}) of the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }}**. Unlike the [unsafeTask](#one-to-many-{{ parent|singular|pascal }}--unsafe{{ child|singular|pascal }}) method, **if the value cannot be found at the given position, the method throws an error**. The method allows one numeric argument who is the expected item position. If the given position is negative, the given position will start from the end.
    * @return **Returns a positioned item of the [array]({{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}) of the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }}**. Unlike the [unsafeTask](#one-to-many-{{ parent|singular|pascal }}--unsafe{{ child|singular|pascal }}) method, **if the value cannot be found at the given position, the method throws an error**. The method allows one numeric argument who is the expected item position. If the given position is negative, the given position will start from the end.
    * @param position The given position. If the given position is negative, the position starts from the end. *If you want the last item of the [array]({{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}) of the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}), you can give `-1` for example. If you want to get the first item of the [array]({{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}) of the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}), you can give `0`.*
    * @category @{{ type.child|singular|pascal }}.{{ parent|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category relation
    * @category getter
    * @category value
    * @public
    * @see {{ type.parent|singular|pascal }}.are{{ child|pluralize|pascal }}Linked
    * @see {{ type.parent|singular|pascal }}.dispose{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.unlink{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.link{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|pluralize|pascal }}Size
    * @see {{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}
    */
    {{ is_static.parent ? "static " : "" }}get{{ child|singular|pascal }}(position: number): {{ is_static.child ? "typeof " : "" }}{{ type.child|singular|pascal }} {
        const {{ child|singular|snake }} = this.unsafe{{ child|singular|pascal }}(position);
        if (typeof {{ child|singular|snake }} === "undefined"){
            const error = new OutOfRange();
            error.setMethod("get{{ child|singular|pascal }}");
            error.setClassname("{{ type.parent|singular|pascal }}");
            error.setProperty("{{ child|pluralize|snake }}");
            error.setPosition(position);
            throw error;
        }
        return {{ child|singular|snake }};
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Associate one or multiple [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }}** from your actual [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class" : "class instance" }}.
    * @description Allows you to **associate one or multiple [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }}** from your actual [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class" : "class instance" }}. The method accepts an array of values, **each argument** of in the method **will dissociate his current associate [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class" : "class instance" }}** ([{{ type.child|singular|pascal }}.unlink{{ parent|singular|pascal }}]({{ type.child|singular|pascal }}.unlink{{ parent|singular|pascal }})), and **then associate the  [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }}** to the [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class" : "class instance" }}. *The value can be a deep array, you should take a look to [flat](flat) function*.  *Note that the method will also run [{{ type.child|singular|pascal }}.link{{ parent|pluralize(many)|pascal }}]({{ type.child|singular|pascal }}.link{{ parent|pluralize(many)|pascal }}) to associate the [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class" : "class instance" }} and the [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }} from the both parts*.
    * @return Returns the actual [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}.
    * @param {{ child|pluralize|snake }} All the given [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }} that you to associate to your actual [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class" : "class instance" }} *(the value can be a deep array, you should take a look to [flat](flat) function)*.
    * @category @{{ type.child|singular|pascal }}.{{ parent|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category relation
    * @category associate
    * @public
    * @see {{ type.parent|singular|pascal }}.are{{ child|pluralize|pascal }}Linked
    * @see {{ type.parent|singular|pascal }}.dispose{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.unlink{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|pluralize|pascal }}Size
    * @see {{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}
    * @see {{ type.child|singular|pascal }}.link{{ parent|pluralize(many)|pascal }}
    */
    {{ is_static.parent ? "static " : "" }}link{{ child|pluralize|pascal }}(... {{ child|pluralize|snake }}: DeepArray<{{ is_static.child ? "typeof " : "" }}{{ type.child|singular|pascal }}>[]): {{ is_static.parent ? "typeof "~(type.parent|singular|pascal) : "this" }} {
        for(const {{ child|singular|snake }} of flat({{ child|pluralize|snake }})){
            if (this.are{{ child|pluralize|pascal }}Linked({{ child|singular|snake }})){
                continue;
            }

           {% if is_static.parent %}
               if (this.{{ child|pluralize|snake }}){
                    this.{{ child|pluralize|snake }}.push({{ child|singular|snake }});
               }else{
                    this.{{ child|pluralize|snake }} = [{{ child|singular|snake }}];
               }
           {% else %}
               this.{{ child|pluralize|snake }}.push({{ child|singular|snake }});
           {% endif %}

            {{ child|singular|snake }}.link{{ parent|pluralize(many)|pascal }}(this);
        }

        return this;
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Gives a copy of the [array]({{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}) of the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }}**.
    * @description **Gives a copy of the [array]({{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}) of the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }}**.
    * @return **Returns a copy of the [array]({{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}) of the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }}**.
    * @category @{{ type.child|singular|pascal }}.{{ parent|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category relation
    * @category getter
    * @category iterable
    * @public
    * @see {{ type.parent|singular|pascal }}.are{{ child|pluralize|pascal }}Linked
    * @see {{ type.parent|singular|pascal }}.dispose{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.unlink{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.link{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|pluralize|pascal }}Size
    * @see {{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}
    */
    {{ is_static.parent ? "static " : "" }}get{{ child|pluralize|pascal }}(): {{ is_static.child ? "typeof " : "" }}{{ type.child|singular|pascal }}[] {
        return Array.from(this.unsafe{{ child|pluralize|pascal }}());
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Gives an [array]({{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}) of the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }} without copy**.
    * @description **Gives an [array]({{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}) of the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }} without copy** the array. The array is not copied, so if you modify this array, you will modify the master array (who this can give unexpected features). **You should use it read-only features**, otherwise use the [get{{ child|pluralize|pascal }}]({{ type.parent|singular|pascal }}.get{{ child|pluralize|pascal }}) method.
    * @return **Returns an [array]({{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}) of the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }} without copy** the array. The array is not copied, so if you modify this array, you will modify the master array (who this can give unexpected features). **You should use it read-only features**, otherwise use the [get{{ child|pluralize|pascal }}]({{ type.parent|singular|pascal }}.get{{ child|pluralize|pascal }}) method.
    * @category @{{ type.child|singular|pascal }}.{{ parent|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category relation
    * @category unsafe
    * @category iterable
    * @public
    * @see {{ type.parent|singular|pascal }}.are{{ child|pluralize|pascal }}Linked
    * @see {{ type.parent|singular|pascal }}.dispose{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.unlink{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.link{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|pluralize|pascal }}Size
    * @see {{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}
    */
    {{ is_static.parent ? "static " : "" }}unsafe{{ child|pluralize|pascal }}(): {{ is_static.child ? "typeof " : "" }} {{ type.child|singular|pascal }}[] {
        return this.{{ child|pluralize|snake }}{% if is_static.parent %} ?? []{% endif %};
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Dissociate one or multiple [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }}**.
    * @description Allows you to **dissociate one or multiple [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }}** from your actual [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class" : "class instance" }}. The method accepts an array of values,  **each argument** of in the method **will be dissociated from the [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class" : "class instance" }}**, and the method accepts an array of values. *The value can be a deep array, you should take a look to [flat](flat) function*.  *Note that the method will also run [{{ type.child|singular|pascal }}.unlink{{ parent|singular|pascal }}]({{ type.child|singular|pascal }}.unlink{{ parent|singular|pascal }}) to dissociate the [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class" : "class instance" }} and the given [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }} from the both parts*.
    * @return Returns the actual [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}.
    * @param {{ child|pluralize|snake }} All the given [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }} that you to dissociate from your actual [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class" : "class instance" }} *(the value can be a deep array, you should take a look to [flat](flat) function)*.
    * @category @{{ type.child|singular|pascal }}.{{ parent|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category relation
    * @category dissociate
    * @public
    * @see {{ type.parent|singular|pascal }}.are{{ child|pluralize|pascal }}Linked
    * @see {{ type.parent|singular|pascal }}.dispose{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.link{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|pluralize|pascal }}Size
    * @see {{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}
    * @see {{ type.child|singular|pascal }}.unlink{{ parent|pluralize(many)|pascal }}
    */
    {{ is_static.parent ? "static " : "" }}unlink{{ child|pluralize|pascal }}(... {{ child|pluralize|snake }}: DeepArray<{{ is_static.child ? "typeof " : "" }}{{ type.child|singular|pascal }}>[]): {{ is_static.parent ? "typeof "~(type.parent|singular|pascal) : "this" }} {
        for(const {{ child|singular|snake }} of flat({{ child|pluralize|snake }})){
            if (!this.are{{ child|pluralize|pascal }}Linked({{ child|singular|snake }})){
                continue;
            }

             while(true){
                const index = this.{{ child|pluralize|snake }}{% if is_static.parent %}!{% endif %}.indexOf({{ child|singular|snake }});
                if (index < 0){
                    break;
                }

                this.{{ child|pluralize|snake }}{% if is_static.parent %}!{% endif %}.splice(index,1);
            }

            {{ child|singular|snake }}.unlink{{ parent|pluralize(many)|pascal }}();
        }

        return this;
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Dissociate all the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }}**.
    * @description **Dissociate all the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }}**.  *Note that all the associated [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }} will lose their [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class" : "class instance" }} association*.
    * @return Returns the actual [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}.
    * @category @{{ type.child|singular|pascal }}.{{ parent|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category relation
    * @category truncate
    * @public
    * @see {{ type.parent|singular|pascal }}.are{{ child|pluralize|pascal }}Linked
    * @see {{ type.parent|singular|pascal }}.unlink{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.link{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|pluralize|pascal }}Size
    * @see {{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}
    */
   {{ is_static.parent ? "static " : "" }}dispose{{ child|pluralize|pascal }}(): {{ is_static.child ? "typeof "~(type.parent|singular|pascal) : "this" }} {
       this.unlink{{ child|pluralize|pascal }}(this.unsafe{{ child|pluralize|pascal }}());
       return this;
   }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Checks if all the given [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }} are associated**.
    * @description **Checks if all the given [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }} are associated** with your actual [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class" : "class instance" }}. Each argument of in the method going to be checked, and the method accepts an array of values *(the value can be a deep array, you should take a look to [flat](flat) function)*. If one of thus elements is not associated with your [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class" : "class instance" }} or are `undefined`, the method results `false`: the method result `true` only if all the [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }} are associated with your [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class" : "class instance" }} and not undefined. *Note that, if no arguments is given in this method, the method results `true` (in fact, all the argument is associated.)*
    * @return **Return a boolean if all the given [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }} are associated** with your actual [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class" : "class instance" }}. Each argument of in the method going to be checked, and the method accepts an array of values *(the value can be a deep array, you should take a look to [flat](flat) function)*. If one of thus elements is not associated with your [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class" : "class instance" }} or are `undefined`, the method results `false`: the method result `true` only if all the [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }} are associated with your [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class" : "class instance" }} and not undefined. *Note that, if no arguments is given in this method, the method results `true` (in fact, all the argument is associated.)*
    * @param {{ child|pluralize|snake }} All the given [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instances" }} that you want to check their relation *(the value can be a deep array, you should take a look to [flat](flat) function)*.
    * @category @{{ type.child|singular|pascal }}.{{ parent|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category relation
    * @category defined
    * @public
    * @see {{ type.parent|singular|pascal }}.dispose{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.unlink{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.link{{ child|pluralize|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.unsafe{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.get{{ child|pluralize|pascal }}Size
    * @see {{ type.parent|singular|pascal }}.{{ child|pluralize|snake }}
    */
   {{ is_static.parent ? "static " : "" }}are{{ child|pluralize|pascal }}Linked(...{{ child|pluralize|snake }}: DeepArray<{{ is_static.child ? "typeof " : "" }}{{ type.child|singular|pascal }}|undefined>[]): boolean {
        return flat({{ child|pluralize|snake }}).every(({{ child|singular|snake }}) => {
            if (typeof {{ child|singular|snake }} === "undefined"){
                return false;
            }

             return this.unsafe{{ child|pluralize|pascal }}().includes({{ child|singular|snake }});
        });
    }