    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Saves the relation between [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) and the actual [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }})**.
    * @description **Saves the relation between [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class" : "class instances" }} and the actual [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class" : "class instance" }}**.
    * @category @{{ type.child|singular|pascal }}.{{ parent|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category property
    * @category relation
    * @protected
    * @see {{ type.child|singular|pascal }}.link{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.has{{ child|singular|pascal }}Linked
    * @see {{ type.child|singular|pascal }}.unsafe{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.get{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.unlink{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.isLinkedWith{{ child|singular|pascal }}
    */
    {{ is_static.child ? "protected static" : "protected" }} {{ parent|singular|snake }}: {{ is_static.parent ? "typeof " : "" }}{{ type.parent|singular|pascal }}|undefined = undefined;

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Associates a [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}**.
    * @description Allows you to **associate a [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}** with your actual [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}. *This method allows one parameter which is a [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }} that will be associated*. *Note that the method will also run [{{ type.parent|singular|pascal }}.link{{ child|pluralize(many)|pascal }}]({{ type.parent|singular|pascal }}.link{{ child|pluralize(many)|pascal }}) to associate the [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }} et the [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }} from the both parts*. *Note also that the method will also run [unlink{{ parent|singular|pascal }}]({{ type.child|singular|pascal }}.unlink{{ parent|singular|pascal }}) to dissociate the current [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }} associated*.
    * @return Returns the actual [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}.
    * @category @{{ type.child|singular|pascal }}.{{ parent|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category association
    * @category relation
    * @public
    * @see {{ type.child|singular|pascal }}.{{ child|singular|snake }}
    * @see {{ type.child|singular|pascal }}.has{{ child|singular|pascal }}Linked
    * @see {{ type.child|singular|pascal }}.unsafe{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.get{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.unlink{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.isLinkedWith{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.link{{ child|pluralize(many)|pascal }}
    */
    {{ is_static.child ? "static " : "" }}link{{ parent|singular|pascal }}({{ parent|singular|snake }}: {{ is_static.parent ? "typeof " : "" }}{{ type.parent|singular|pascal }}): {{ is_static.child ? "typeof "~(type.child|singular|pascal) : "this" }} {
        if (this.isLinkedWith{{ parent|singular|pascal }}({{ parent|singular|snake }})){
            return this;
        }

        {% if many %}
            if (!{{ parent|singular|snake }}.are{{ child|pluralize|pascal }}Linked(this)){
                {{ parent|singular|snake }}.link{{ child|pluralize|pascal }}(this);

                return this;
            }
        {% else %}
            if (!{{ parent|singular|snake }}.isLinkedWith{{ child|singular|pascal }}(this)){
                {{ parent|singular|snake }}.link{{ child|singular|pascal }}();

                return this;
            }
        {% endif %}


        this.unlink{{ parent|singular|pascal }}();
        this.{{ parent|singular|snake }} = {{ parent|singular|snake }};

        return this;
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Checks if a [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }} is associated**.
    * @return **Gives a boolean if a [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }} is associated** or not to our actual [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}.
    * @description **Check if a [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }} is associated** or not to our actual [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}.
    * @category @{{ type.child|singular|pascal }}.{{ parent|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category relation
    * @category defined
    * @public
    * @see {{ type.child|singular|pascal }}.{{ child|singular|snake }}
    * @see {{ type.child|singular|pascal }}.link{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.unsafe{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.get{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.unlink{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.isLinkedWith{{ child|singular|pascal }}
    */
    {{ is_static.child ? "static " : "" }}has{{ parent|singular|pascal }}Linked(): boolean {
        return typeof this.{{ parent|singular|snake }} !== "undefined";
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Gives the associated [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}**. Unlike the [unsafe{{ parent|singular|pascal }}]({{ type.child|singular|pascal }}.unsafe{{ parent|singular|pascal }}) method, **the method can throw an [UnlinkedValue](UnlinkedValue) error**.
    * @description **Gives the associated [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}** of our actual [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}. Unlike the [unsafe{{ parent|singular|pascal }}]({{ type.child }}.unsafe{{ parent|singular|pascal }}) method, **we will throw an [UnlinkedValue](UnlinkedValue) error if the [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }} doesn't have [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }} associate**.
    * @return **Results the associated [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}** of our actual [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}. Unlike the [unsafe{{ parent|singular|pascal }}]({{ type.child }}.unsafe{{ parent|singular|pascal }}) method, **we will throw an [UnlinkedValue](UnlinkedValue) error if the [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }} doesn't have [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }} associate**.
    * @category @{{ type.child|singular|pascal }}.{{ parent|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category relation
    * @category value
    * @category getter
    * @public
    * @see {{ type.child|singular|pascal }}.{{ child|singular|snake }}
    * @see {{ type.child|singular|pascal }}.link{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.has{{ child|singular|pascal }}Linked
    * @see {{ type.child|singular|pascal }}.unsafe{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.unlink{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.isLinkedWith{{ child|singular|pascal }}
    */
    {{ is_static.child ? "static " : "" }}get{{ parent|singular|pascal }}(): {{ is_static.parent ? "typeof " : "" }}{{ type.parent|singular|pascal }}{
        const unsafe = this.unsafe{{ parent|singular|pascal }}();

        if (typeof unsafe === "undefined"){
            const error = new UnlinkedValue();
            error.setMethod("get{{ parent|singular|pascal }}");
            error.setClassname("{{ type.child|singular|pascal }}");
            error.setWantedClassname("{{ type.parent|singular|pascal }}");
            error.setProperty("{{ parent|singular|snake }}");
            throw error;
        }
        return unsafe;
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Gives the associated [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}**. Unlike the [get{{ parent|singular|pascal }}]({{ type.child|singular|pascal }}.get{{ parent|singular|pascal }}) method, **the method can result an undefined value.
    * @description **Gives the associated [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}** of our actual [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}. Unlike the [get{{ parent|singular|pascal }}]({{ type.child|singular|pascal }}.get{{ parent|singular|pascal }}) method, **the method results an undefined value if the [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }} doesn't have [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }} associate**: *you should take a look about [??](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Operators/Nullish_coalescing_operator) operator or to the [optional chaining](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Operators/Optional_chaining)*.
    * @return **Results the associated [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}** of our actual [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}. Unlike the [get{{ parent|singular|pascal }}]({{ type.child|singular|pascal }}.get{{ parent|singular|pascal }}) method, **the method results an undefined value if the [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }} doesn't have [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }} associate**: *you should take a look about [??](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Operators/Nullish_coalescing_operator) operator or to the [optional chaining](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Operators/Optional_chaining)*.
    * @category @{{ type.child|singular|pascal }}.{{ parent|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category relation
    * @category value
    * @category unsafe
    * @public
    * @see {{ type.child|singular|pascal }}.{{ child|singular|snake }}
    * @see {{ type.child|singular|pascal }}.link{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.has{{ child|singular|pascal }}Linked
    * @see {{ type.child|singular|pascal }}.get{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.unlink{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.isLinkedWith{{ child|singular|pascal }}
    */
    {{ is_static.child ? "static " : "" }}unsafe{{ parent|singular|pascal }}(): {{ is_static.parent ? "typeof " : "" }}{{ type.parent|singular|pascal }}|undefined{
        return this.{{ parent|singular|snake }};
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Dissociate the [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}**.
    * @description **Dissociate the [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}** from your actual [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}.  *Note that the method will also run [{{ type.parent|singular|pascal }}.unlink{{ child|pluralize(many)|pascal }}]({{ type.parent|singular|pascal }}.unlink{{ child|pluralize(many)|pascal }}) to dissociate the [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }} et the [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }} from the both parts*.
    * @return Return the actual [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }}.
    * @category @{{ type.child|singular|pascal }}.{{ parent|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category relation
    * @category value
    * @category dissociate
    * @public
    * @see {{ type.child|singular|pascal }}.{{ child|singular|snake }}
    * @see {{ type.child|singular|pascal }}.link{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.has{{ child|singular|pascal }}Linked
    * @see {{ type.child|singular|pascal }}.unsafe{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.get{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.isLinkedWith{{ child|singular|pascal }}
    * @see {{ type.parent|singular|pascal }}.unlink{{ child|pluralize(many)|pascal }}
    */
    {{ is_static.child ? "static " : "" }}unlink{{ parent|singular|pascal }}(): {{ is_static.child ? "typeof "~(type.child|singular|pascal) : "this" }} {
        const _{{ parent|singular|snake }} = this.{{ parent|singular|snake }};
        this.{{ parent|singular|snake }} = undefined;

        _{{ parent|singular|snake }}?.unlink{{ child|pluralize(many)|pascal }}({{ many ? "this" : "" }});

        return this;
    }

    /**
    * @todo check/write the documentation
    * @todo check/write the test unit for
    *
    * @summary **Checks if all the given [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}** are associated.
    * @description **Checks if the [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }} is associated with all the given [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}**. *Note that if the given value is `undefined`, the method always results `false`*.
    * @return **Return a boolean if the [{{ type.child|singular|pascal }}]({{ type.child|singular|pascal }}) {{ is_static.child ? "class " : "class instance" }} is associated with all the given [{{ type.parent|singular|pascal }}]({{ type.parent|singular|pascal }}) {{ is_static.parent ? "class " : "class instance" }}**. *Note that if the given value is `undefined`, the method always results `false`*.
    * @category @{{ type.child|singular|pascal }}.{{ parent|singular|snake }}
    * @category Relation between {{ type.parent|singular|pascal }} and {{ type.child|singular|pascal }}
    * @category relation
    * @category value
    * @category equality
    * @public
    * @see {{ type.child|singular|pascal }}.{{ child|singular|snake }}
    * @see {{ type.child|singular|pascal }}.link{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.has{{ child|singular|pascal }}Linked
    * @see {{ type.child|singular|pascal }}.unsafe{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.get{{ child|singular|pascal }}
    * @see {{ type.child|singular|pascal }}.unlink{{ child|singular|pascal }}
    */
    {{ is_static.child ? "static " : "" }}isLinkedWith{{ parent|singular|pascal }}({{parent|singular|snake}}?: undefined|{{ is_static.parent ? "typeof " : "" }}{{ type.parent|singular|pascal }}): boolean {
        if (typeof {{parent|singular|snake}} === "undefined"){
            return false;
        }
        return this.unsafe{{parent|singular|pascal}}() === {{parent|singular|snake}};
    }